@charset "UTF-8";
body {
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
  box-sizing: border-box;
  color: #333333;
  font-size: 16px;
  line-height: 2;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  border: none;
}

.container {
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  color: #333333;
  line-height: 1;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 28px;
  }
}

.btn {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background: #000;
  padding: 13px 44px 11px 41px;
  transition: all 0.3s;
}

.btn:hover {
  color: #000;
  background: #a0a0a0;
}

/*=========================================================
                        header
==========================================================*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  z-index: 10000;
}

.header .site-title {
  width: 260px;
  height: 28.2px;
  margin-top: 30px;
  margin-left: 58px;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header .site-title {
    width: 189px;
    height: 20.6px;
    margin-top: 19px;
    margin-left: 15px;
  }
}

.header .site-title a img {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s;
}

.header .site-title a img:last-child {
  opacity: 0;
}

.header .site-title.color-black a img {
  opacity: 0;
}

.header .site-title.color-black a img:last-child {
  opacity: 1;
}

.header .header-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 60vw;
  height: 100vh;
  background: #222222;
  opacity: 0.9;
  transform: translateX(100%);
  transition: 0.3s;
  z-index: 10;
}

.header .header-nav.active {
  transform: translateX(0%);
}

.header .header-nav .nav-list {
  text-align: center;
  margin-top: 180px;
}

@media screen and (max-width: 767px) {
  .header .header-nav .nav-list {
    margin-top: 100px;
  }
}

.header .header-nav .nav-list .nav-item {
  margin-bottom: 30px;
}

.header .header-nav .nav-list .nav-item a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.header .header-nav .nav-list .nav-item:first-child {
  margin-bottom: 40px;
}

.header .header-nav .nav-list .nav-item:first-child a img {
  width: 42.15px;
  height: 45px;
}

.header .burger-btn {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  height: 14px;
  position: fixed;
  top: 36px;
  right: 58px;
  z-index: 11;
}

@media screen and (max-width: 767px) {
  .header .burger-btn {
    top: 24px;
    right: 15px;
  }
}

.header .burger-btn .bars .bar {
  display: block;
  background-color: #fff;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  margin-top: 0;
  transition: all 0.3s;
}

.header .burger-btn .bars .bar-top {
  transform: translateY(-4px);
}

.header .burger-btn .bars .bar-bottom {
  transform: translateY(4px);
}

.header .burger-btn.active .bars .bar-top {
  transform: translateY(2px) rotate(30deg);
}

.header .burger-btn.active .bars .bar-mid {
  opacity: 0;
}

.header .burger-btn.active .bars .bar-bottom {
  transform: translateY(-2px) rotate(-30deg);
}

.header .burger-btn.btn-black .bars .bar {
  background-color: #000;
}

.header .burger-btn.btn-black .menu {
  color: #000;
}

.header .burger-btn .menu {
  color: #fff;
  margin-left: 5px;
  font-weight: bold;
  font-size: 10px;
  transition: color 0.3s;
}

.header .burger-musk {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  opacity: 0.6;
  display: none;
}

/*=========================================================
                        /header
==========================================================*/
/*=========================================================
                           fv
==========================================================*/
.fv {
  height: 100vh;
  margin-bottom: 20px;
}

.fv::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #222222;
  z-index: -1;
}

.fv .kv-wrapper {
  width: 76.5%;
  height: 86.5%;
  background: url(../image/fv-img.png);
  background-size: cover;
  background-position: center 0;
  position: relative;
}

.fv .kv-wrapper .copy-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  color: #fff;
  line-height: 1.2;
}

@media screen and (max-width: 1024px) {
  .fv .kv-wrapper .copy-wrapper {
    transform: translate(40%, -50%);
  }
}

@media screen and (max-width: 767px) {
  .fv .kv-wrapper .copy-wrapper {
    transform: translate(30%, -50%);
  }
}

.fv .kv-wrapper .copy-wrapper .copy-jp {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .fv .kv-wrapper .copy-wrapper .copy-jp {
    font-size: 16px;
  }
}

.fv .kv-wrapper .copy-wrapper .copy-company {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .fv .kv-wrapper .copy-wrapper .copy-company {
    font-size: 16px;
  }
}

.fv .kv-wrapper .copy-wrapper .main-copy {
  font-size: 72px;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .fv .kv-wrapper .copy-wrapper .main-copy {
    font-size: 56px;
  }
}

/*=========================================================
                           /fv
==========================================================*/
/*=========================================================
                         about
==========================================================*/
@media screen and (max-width: 1024px) {
  .about {
    margin-top: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .about .container {
    padding: 0;
  }
}

.about .container .about-inner {
  width: 100%;
  height: 100%;
  padding: 110px 50px;
  background: url(../image/about-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .about .container .about-inner {
    padding: 60px 89px;
  }
}

@media screen and (max-width: 767px) {
  .about .container .about-inner {
    padding: 50px 15px;
  }
}

.about .container .about-item {
  width: 59%;
  padding: 50px 30px;
  background: #fff;
  opacity: 0.95;
}

@media screen and (max-width: 1024px) {
  .about .container .about-item {
    width: 100%;
    padding: 40px 30px;
  }
}

.about .container .about-item .about-text {
  margin-bottom: 30px;
}

/*=========================================================
                         /about
==========================================================*/
/*=========================================================
                          works
==========================================================*/
.works {
  background: #F0F0F0;
  padding: 180px 0px 60px;
}

@media screen and (max-width: 1024px) {
  .works {
    padding: 60px 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .works {
    padding: 40px 0;
  }
}

.works .works-inner {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .works .works-inner {
    display: block;
  }
}

.works .works-inner .works-item {
  max-width: 520px;
  height: 100%;
  margin-right: 60px;
}

@media screen and (max-width: 1024px) {
  .works .works-inner .works-item {
    margin-bottom: 80px;
    margin-right: 0;
  }
  .works .works-inner .works-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .works .works-inner .works-item {
    margin-bottom: 40px;
  }
}

.works .works-inner .works-item:last-child {
  margin-right: 0;
}

.works .works-inner .works-item .works-img {
  max-width: 520px;
  height: 350px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .works .works-inner .works-item .works-img {
    height: 232px;
  }
}

.works .works-inner .works-item .works-img img {
  width: 100%;
  height: 100%;
}

.works .works-inner .works-item .works--text {
  margin-bottom: 30px;
}

/*=========================================================
                          /works
==========================================================*/
/*=========================================================
                          latest
==========================================================*/
.latest {
  margin: 60px 0;
}

@media screen and (max-width: 1024px) {
  .latest {
    margin: 40px 0;
  }
}

.latest .latest-inner .latest-wrapper {
  width: 63.7%;
  height: 100%;
  margin-left: auto;
  margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
  .latest .latest-inner .latest-wrapper {
    width: 100%;
  }
}

.latest .latest-inner .latest-wrapper .latest-item {
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .latest .latest-inner .latest-wrapper .latest-item {
    margin-bottom: 20px;
  }
  .latest .latest-inner .latest-wrapper .latest-item:last-child {
    margin-bottom: 0;
  }
}

.latest .latest-inner .latest-wrapper .latest-item .latest-item-link {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.latest .latest-inner .latest-wrapper .latest-item .latest-item-link:hover {
  background: #F0F0F0;
}

.latest .latest-inner .latest-wrapper .latest-item .latest-item-link .latest-time {
  font-size: 10px;
  font-weight: bold;
  color: #CECECE;
}

.latest .latest-inner .latest-wrapper .latest-item .latest-item-link .latest-title {
  font-family: "游ゴシック体", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  letter-spacing: 0.4px;
}

@media screen and (max-width: 767px) {
  .latest .latest-inner .latest-wrapper .latest-item .latest-item-link .latest-title {
    font-size: 12px;
  }
}

.latest .latest-inner .latest-btn {
  text-align: right;
}

@media screen and (max-width: 1024px) {
  .latest .latest-inner .latest-btn {
    text-align: left;
  }
}

/*=========================================================
                          /latest
==========================================================*/
/*=========================================================
                        contact
==========================================================*/
.contact {
  background: #F2F2F2;
  padding: 60px 0 120px;
}

@media screen and (max-width: 1024px) {
  .contact {
    padding: 40px 0 80px;
  }
}

@media screen and (max-width: 767px) {
  .contact {
    padding: 40px 0;
  }
}

.contact .contact-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .contact .contact-inner {
    flex-direction: column;
    align-items: baseline;
  }
}

.contact .contact-inner .contact-item {
  max-width: calc(100% - 660px);
  margin-right: 80px;
}

@media screen and (max-width: 1024px) {
  .contact .contact-inner .contact-item {
    max-width: 510px;
    margin-right: 0;
    order: 1;
  }
}

.contact .contact-inner .contact-item .contact-text {
  margin-bottom: 30px;
}

.contact .contact-inner .contact-img {
  max-width: 580px;
  height: 390px;
}

@media screen and (max-width: 1024px) {
  .contact .contact-inner .contact-img {
    max-width: 520px;
    height: 350px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 767px) {
  .contact .contact-inner .contact-img {
    max-width: 345px;
    height: 232px;
  }
}

.contact .contact-inner .contact-img img {
  width: 100%;
  height: 100%;
}

/*=========================================================
                        /contact
==========================================================*/
/*=========================================================
                         footer
==========================================================*/
.footer {
  background: #525252;
  padding: 21px 0 19px;
}

.footer .copyright {
  text-align: center;
}

.footer .copyright small {
  color: #fff;
  font-size: 10px;
  letter-spacing: 1.5;
}

/*=========================================================
                         /footer
==========================================================*/
